@import url(foundation.min.css);
#header {
  background: darkblue; }
  #header h2 {
    font-size: 8vh;
    color: white; }

.drop {
  margin-top: 1.5vh; }

.image {
  width: 20vh;
  height: 20vh;
  margin-left: 20vh; }

.rollButton {
  height: 500vh;
  border: solid 2px black; }
